hr {
    border-top: 1px dashed red;
}

body{
    margin: 0;
  } 
  .wrapper{
    min-height: 100vh;
    background: #ccc;
    display: flex;
    flex-direction: column;
  }
  .header, .footer{
    height: 50px;
    background: #666;
    color: #fff;
  }
  .content {
    display: flex;
    flex: 1;
    background: #999;
    color: #000; 
  }
  .columns{
    display: flex;
    flex:1;
  }
  .main{
    flex: 1;
    order: 2;
    background: #eee;
  }
  .sidebar-first{
    min-width: 250px;
    background: #ccc;
    order: 1;
  }
  .sidebar-second{ 
    min-width: 250px;
    /* width: 20%; */
    order: 3;
    background: #ddd;
  }

  .barcanvas {
    display: flex;
    align-items: end;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
    padding-top: 25px;
    height: 200px;
  }
  .bar{
    background-color: #add8e6;
    /* height: 100%; */
    width: 25px;
    font-size: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    display: flex;
    align-items: top;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    /* margin-right: 5px; */
  }

  .sortbutton {
    width: 250px;
    height: 50px;
    font-size: 20px;
    /* color: black; */
    background-color: lightgreen;
  }
  .sort-button{
    width: 200px;
    height: 50px;
  }
